.grid-container {
    display: grid;
    grid-template-columns: 1.5fr 0.9fr 0.8fr 1fr;
    grid-template-rows: 1.2fr 1.2fr 0.6fr;
    gap: 5px 5px;
  }
  
  .player { 
      grid-area: 1 / 1 / 4 / 2; 
      text-align: center;
      justify-content: center;
    }
  
  .Selector { 
      grid-area: 1 / 2 / 3 / 5; 
      text-align: center;
    }
  
  .User-Feedback { grid-area: 3 / 2 / 4 / 5; }
  
  .queue { 
      grid-area: 3 / 1 / 4 / 2;
      margin-left: 5px;
  }
  

  .artwork-wrapper {
    height:200px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:center;
    border:solid 1px #eee;
}

.artwork-wrapper img {
    max-height:100px;
    max-width:100%;
}







/* this part i got from a template online and im still learning what it does so dont mess with this just yet */


header .row,
footer .row {
  display: flex;
  align-items: center;
  padding: 32px;
}

header nav {
  display: flex;
  justify-content: flex-end; 
  font-weight: bold;
}

/* I'm adding a padding to only two of my nav elements because they were squashed together. In order to do that i had to give those elements a class first:class=blog1 */
.blog1 {
 padding-left: 40px;   
}

.jumbotron {
  display:flex;
  align-items: center;
  background-image: url('https://img.etsystatic.com/il/26cfc1/1402773656/il_570xN.1402773656_121s.jpg' );
  background-repeat: no-repeat;
  background-position: 80% 80%;
  color:#ffffff ;
  height:695px;    
}

section.row {
 display:flex;
  flex-wrap:wrap;
  justify-content:center;

}
section .row img {
   margin: 10px 0 30px; /* added the margin top and bottom to seperate the title from the actual image */
   float:left;
   width:55%      
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
 
footer img {
  width: 40px;
  height: 40px;
}

footer .col-sm-8 {
  display: flex;
 justify-content:center;

}
  