<!DOCTYPE html>
<html>
<head>
  <title>Spotify Player</title>
</head>
<body>
  <h1>Spotify Web Playback</h1>
  <script src="https://sdk.scdn.co/spotify-player.js"></script>
  <script> window.onSpotifyWebPlaybackSDKReady = () => {
    // var token = "BQCCx9lpjrViiy5JiP7_pEwGsNAUOjAet9ADCdDN6cIYgFLYpJZiSuPuXzyvRKt9LteFgEQCRwpI2QlmdbPsTe4JrV6jYA8koZRYbYzBdVQTDyrTi9HiTXQXHMPGV3DIH7BKgVi1NpJ-rd-oTuILcMWcw4Cy2drBRqzDrZ7fuapXkDUIEVNIjdw";
    const accessToken = '{{token.userToken}}';
    var player = new Spotify.Player({
      name: 'Spotify Player',
      getOAuthToken: cb => { cb(accessToken); }
    });

    // Error handling
    player.addListener('initialization_error', ({ message }) => { console.error(message); });
    player.addListener('authentication_error', ({ message }) => { console.error(message); });
    player.addListener('account_error', ({ message }) => { console.error(message); });
    player.addListener('playback_error', ({ message }) => { console.error(message); });

    // Playback status updates
    player.addListener('player_state_changed', state => { console.log(state); });

    // Ready
    player.addListener('ready', ({ device_id }) => {
      console.log('Ready with Device ID', device_id);
      var deviceID = device_id
    });

    // Not Ready
    player.addListener('not_ready', ({ device_id }) => {
      console.log('Device ID has gone offline', device_id);
    });

    // Connect to the player!
    player.connect();
  };</script>
  
</script>
<p id="demo">Tester</p>
<!-- <a href='/play/'><input type=button value='value=”call_flask_funtion”></a> -->
<!-- <button type="button" onclick="play()">Play</button> -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('a#initPlayer').bind('click', function() {
            $.getJSON('/initPlayer',
                function() {
              //do nothing
            });
        return false;
      });
    });

    $(function() {
          $('a#startPlayback').bind('click', function() {
            $.getJSON('/startPlayback',
                function() {
              //do nothing
            });
        return false;
      });
    });
    
    $(function() {
          $('a#pausePlayback').bind('click', function() {
            $.getJSON('/pausePlayback',
                function() {
              //do nothing
            });
        return false;
      });
    });
    $(function() {
          $('a#addQueue').bind('click', function() {
            $.getJSON('/addQueue',
                function() {
              //do nothing
            });
        return false;
      });
    });
    $(function() {
          $('a#nextTrack').bind('click', function() {
            $.getJSON('/nextTrack',
                function() {
              //do nothing
            });
        return false;
      });
    });
</script>
<form>
  <a href=# id=initPlayer><button class='btn btn-default'>Initialize Player</button></a>
  <a href=# id=startPlayback><button class='btn btn-default'>Play</button></a>
  <a href=# id=pausePlayback><button class='btn btn-default'>Pause</button></a>
  <a href=# id=addQueue><button class='btn btn-default'>Queue</button></a>
  <a href=# id=nextTrack><button class='btn btn-default'>Next</button></a>
</form>

</body>
</html>